@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Header styles*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2e279f;
    z-index: 20;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #4a5568;
}

.logo {
    width: 100px;
    height: 50px;
    cursor: pointer;
    object-fit: contain;
    margin-left: 10px;
}

.navWrap {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.navMenu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
}

ul li {
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition-duration: 0.6s;
    transition-delay: 0.01s;
}

ul li:hover {
    color: #7BC9FF;
    text-decoration: underline #7BC9FF;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}

.profile {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.profileName {
    font-size: 17px;
    color: white;
}

.logout {
    font-size: 16px;
    padding: 5px;
    padding-inline: 10px;
    background-color: #7BC9FF;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 300ms;
}

.logout:hover {
    background-color: #8576FF;
    color: black;
}

.userLink {
    transition: all ease 300ms;
}

.userLink:hover {
    color: blue;
}

.menu {
    display: none;
}

.menuContent {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100dvh;
    z-index: 10;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
}

.menuContent.active {
    display: flex;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
}

.menuContent ul {
    list-style: none;
}

.menuContent ul li {
    font-size: 25px;
    color: white;
}

/*Your work page*/
.box {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    padding-top: 50px;
    justify-content: center;
}

.boxPage {
    padding-top: 70px;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
}

.boxPageProjectTask {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
}

.boxPagePreview {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    padding-top: 61px;
}

.projectTaskBox {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
}

.projectNameDiv {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable-div {
    height: 100%;
    overflow-y: auto;
    padding-right: 20px;
}

.scrollable-div::-webkit-scrollbar {
    width: 5px;
}

.scrollable-div::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #22272f;
}


.projectBox {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    place-items: center;
}

.projectBtn {
    padding-top: 50px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

.taskMenu {
    display: flex;
    padding-inline: 10px;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
    list-style-type: none;
    background-color: rgba(23, 76, 192, 0.56);
    box-shadow: 1px 0 #4a5568;
}

.taskMenu li {
    margin-left: 10px;
}

.selectStatus {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.selectStatus a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
    background-color: #7BC9FF;
}

.selectStatus a:last-child {
    border-bottom: none;
}

.selectStatus a:hover {
    background-color: #8576FF;
}

.show {
    display: block;
}


.boxTask {
    margin-left: 10px;
    width: 30%;
    box-shadow: 1px 0 #4a5568;
    padding-top: 20px;
}

.searchBtn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #7BC9FF;
    height: 100%;
    padding-inline: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.searchBtn:active {
    background-color: #8576FF;
}

.boxTaskPage {
    padding-inline: 50px;
    width: 100%;
}

.boxTaskPageCom {
    margin-left: 10px;
    width: 100%;
}

.task-details {
    width: 100%;
}

.boxTaskProfile {
    margin-left: 10px;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.boxTaskProfileLast {
    margin-left: 10px;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.boxTaskLast {
    margin-left: 10px;
    width: 30%;
}

.task {
    font-size: 18px;
    box-shadow: 0 0 2px #971ad5;
    cursor: pointer;
    border-radius: 20px;
    padding: 25px;
    transition: all ease 300ms;
    margin: 15px;
    position: relative;
}

.bigTask {
    font-size: 18px;
    box-shadow: 0 0 2px #971ad5;
    border-radius: 20px;
    padding: 15px;
    transition: all ease 300ms;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.taskHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #4a5568 solid;
    padding-bottom: 20px;
}

.taskHeader > div {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.taskInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.taskInfo > i {
    border: 1px solid #4a5568;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 0.9rem;
}

.taskInfo p {
    font-weight: 700;
}

.taskDescriptionHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.taskDescriptionHeader > i {
    font-size: 0.9rem;
}

.taskDescriptionHeader p {
    font-weight: 700;
}

.taskCommentsHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.taskCommentsHeader > i {
    font-size: 0.9rem;
}

.taskCommentsHeader p {
    font-weight: 700;
}

.profileInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.profileInfo > i {
    font-size: 0.9rem;
}

.profileInfo p {
    font-weight: 700;
}

.taskBody {
    margin-left: 20px;
    margin-top: 15px;
}

.taskDate {
    display: flex;
    gap: 10px;
    align-items: center;
}

.taskDate > i {
    font-size: 0.9rem;
}

.taskDate p {
    font-weight: 700;
}

.taskCreator {
    display: flex;
    gap: 10px;
    align-items: center;
}

.taskCreator > i {
    font-size: 0.9rem;
}

.taskCreator p {
    font-weight: 700;
}

.taskUpdate {
    display: flex;
    gap: 10px;
    align-items: center;
}

.taskName {
    font-size: 1.5rem;
    font-weight: 600;
}

.taskStatus {
    background-color: blue;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.taskEffort {
    background-color: orange;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.taskPriority {
    background-color: red;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.taskSubtitle {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
    flex-wrap: wrap;
}

.task:hover {
    box-shadow: 0 0 6px #971ad5;
}

.taskEdit {
    font-size: 20px;
    box-shadow: 0 0 2px #7BC9FF;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    position: relative;
    width: 500px;
}

.activeBtn {
    color: #7BC9FF;
    text-decoration: underline #7BC9FF;
    font-size: 18px;
    cursor: pointer;
}

.noneActive {

}

.project {
    font-size: 18px;
    box-shadow: 0 0 2px #971ad5;
    margin: 15px;
    cursor: pointer;
    border-radius: 20px;
    padding: 15px;
    width: 320px;
    height: 180px;
    position: relative;
    transition: all ease 300ms;
}

.project:hover {
    box-shadow: 0 0 6px #971ad5;
}

.singleTask {
    font-size: 18px;
    box-shadow: 0 0 2px #971ad5;
    margin-top: 10px;
    margin-right: 10px;
}

.commentDiv {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

div span {
    font-size: 12px;
    color: red;
}

/*Task pop up menu*/
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profilePhoto {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    margin-right: 10px;
}

.close {
    position: absolute;
    top: 0;
    right: 30px;
    transform: rotate(45deg);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 42px;
    color: white;
}

.close button {
    background-color: transparent;
    border: none;
    font-size: 42px;
    color: black;
    cursor: pointer;
    transition: all ease 300ms;
}

.close button:hover {
    color: red;
}

.closeButton {
    background-color: transparent;
    border: none;
    font-size: 42px;
    color: black;
    cursor: pointer;
    transition: all ease 300ms;
}

.closeButton:hover {
    color: red;
}

.name {
    border-radius: 4px;
    background-color: #a0aec0;
}

.attributes {
    border-radius: 4px;
    background-color: #a0aec0;
}

.select {
    background-color: #a0aec0;
    border: none;
}

.description {
    border-radius: 4px;
    height: 100px;
    background-color: #a0aec0;
}

.createBtn {
    width: 20%;
    height: 35px;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all ease 300ms;
}

.delete:hover {
    color: red;
}

.deleteTask {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 28px;
    right: 15px;
    transition: all ease 300ms;
}

.deleteTask:hover {
    color: red;
}

.taskEditing {
    font-size: 20px;
    cursor: pointer;
    transition: all ease 300ms;
    padding: 5px;
}

.taskEditing:hover {
    color: yellow;
}

.taskDelete {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all ease 300ms;
}

.taskDelete:hover {
    color: red;
}

.labels {
    font-weight: 700;
}

.taskCommentDelete {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all ease 300ms;
}

.taskCommentDelete:hover {
    color: red;
}

.openTask {
    transition: all ease 300ms;
    width: max-content;
}

.openTask:hover {
    color: blue;
}

.edit {
    position: absolute;
    top: 45px;
    right: 15px;
    transition: all ease 300ms;
}

.edit:hover {
    color: yellow;
}

.projectCardBtn {
    background-color: transparent;
    margin-top: 40px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    transition: all ease 300ms;
    padding: 10px;
}

.projectCardBtn:hover {
    color: red;
}

.projectCardButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.verifyBtn {
    background-color: lightgreen;
    width: max-content;
    height: max-content;
    margin-top: 20px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: all ease 300ms;
}

.verifyBtn:hover {
    background-color: #04c004;
    color: white;
}


.ProjectForm {
    display: flex;
}

dialog {
    width: 70%;
    height: max-content;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.searchBar {
    border: solid #1a202c;
    width: 100%;
}

.searchBarProject {
    border: solid #1a202c;
    width: 35%;
}

.searchForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

input {
    width: 100%;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.projectTaskCommentInput {
    display: flex;
    width: 50%;
    margin-top: 20px;
    border-top: 1px solid #4a5568;
}

.commentTextArea {
    display: flex;
    width: 100%;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #4a5568;
    padding: 5px;
}

.commentArea {
    width: 100%;
    border: 1px solid #4a5568;
    height: 45px;
    margin-top: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.commentInputUserBar {
    display: flex;
    padding: 10px;
    align-items: center;
}

.projectFormComment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.searchCommentBtn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    height: 45px;
    padding-inline: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    border: 1px solid #4a5568;
}

.successLouOut {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: center;
}

.commentInput {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.projectForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.searchButton {
    margin: auto;
    height: 30px;
    width: 50px;
}

.loginInput {
    padding-left: 1rem;
    width: 60%;
    background-color: white;
    border: solid black 1px;
}

.submit {
    background-color: #7BC9FF;
    color: black;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px;
    transition: all ease 300ms;
    margin-top: 20px;
}

.submit:hover {
    background-color: #8576FF;
}

.taskButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.createTaskBtn {
    display: flex;
    background-color: #7BC9FF;
    color: black;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px;
    height: max-content;
    width: max-content;
    margin-bottom: 10px;
    transition: all ease 300ms;
}

.taskInput {
    width: 90%;
    margin: 15px;
}

.createTaskBtn:hover {
    background-color: #8576FF;
}

.editing {
    background-color: #e3e4e5;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.editingProfile {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 15px;
}

.saveButtons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.removePhoto {
    font-size: 16px;
    padding: 20px;
    transition: all ease 300ms;
}

.removePhoto:hover {
    color: red;
}

input::file-selector-button {
    padding: 6px 12px;
    cursor: pointer;
    background-color: #7BC9FF;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    transition: all ease 300ms;
    width: max-content;
}

.bigComment {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
    width: 50%;
}

.commentText {
    margin-left: 80px;
}

.commentUser {
    display: flex;
    padding: 10px;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.photoButtons {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.photoUploaded {
    display: flex;
    margin-top: 20px;
}

.photoText {
    margin-left: 20px;
}

.photoInput {
    width: 40%;
    background-color: #e3e4e5;
    padding: 10px;
    font-size: 16px;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.active {
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: auto;
}

.modal-content2 {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: max-content;
    border-radius: 4px;
    text-align: center;
    color: white;
}


.modal-body {
    border: black 1px solid;
    border-radius: 4px;
    margin-top: 5px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transform: rotate(45deg);
}

.close:hover {
    color: red;
}

.createBtnP {
    margin-top: 15px;
}

.showMembers {
    width: 100%;
    height: 100%;
}

.showMembersContent {
    color: black;
    font-size: 20px;
}

.organizeMembersContent {
    display: flex;
    color: black;
    font-size: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.showMembersAdmin {
    color: black;
    font-size: 25px;
}

.showMembersUser {
    font-size: 20px;
}

.showMembersH {
    color: black;
    font-size: 30px;
    padding-bottom: 20px;
}

.loginText {
    color: black;
    font-size: 20px;
}

.loginText:hover {
    color: red;
    transition: all ease 300ms;
}

.loginText-Create {
    color: white;
    font-size: 20px;
}

.success {
    display: flex;
    width: 40%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: forestgreen 1px solid;
    background-color: lightgreen;
}

.alert {
    display: flex;
    width: 40%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: darkred 1px solid;
    background-color: red;
}

.register {
    height: 100vh;
    width: 100%;
    background-color: #2e279f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openBigTask {
    display: flex;
    width: max-content;
}

.registration-wrap {
    display: flex;
}

.register-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: 100%;
}

.loginDiv {
    width: 60%;
}

.loginDiv > input {
    width: 100%;
}

.profilePage {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-size: 18px;
    transition: all ease 300ms;
    place-items: center;
}

.profileBio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.photoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.editProfile {
    cursor: pointer;
    transition: all ease 300ms;
    margin-top: 20px;
    font-size: 18px;
}

.editProfile:hover {
    cursor: pointer;
    color: red;
}

.cancelProfile {
    cursor: pointer;
    transition: all ease 300ms;
    font-size: 18px;
}

.cancelProfile:hover {
    cursor: pointer;
    color: red;
}

.profilePhotoBig {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.saveProfile {
    display: flex;
    background-color: #7BC9FF;
    color: black;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px;
    height: max-content;
    width: max-content;
    transition: all ease 300ms;
}

.saveProfile:hover {
    background-color: #8576FF;
}

.verifyWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    flex-direction: column;
}

.register-headline {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
    margin-bottom: 1rem;
    text-align: center;
}

.registration-form {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    padding: 1rem;
}

.registration-avatar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.registration-avatar p {
    font-weight: 500;
    cursor: pointer;
}

.avatar {
    height: 150px;
    width: 250px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.loginError {
    color: red;
}

@media (max-width: 1500px) {
    .projectBox {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 950px) {
    .navMenu {
        display: none;
    }

    .header-right {
        width: 100%;
    }

    .menu {
        display: block;
        margin-left: 20px;
    }

    .projectBox {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 680px) {
    .registration-wrap {
        flex-direction: column;
    }

    .registration-avatar {
        margin-top: 20px;
    }

    .avatar {
        height: 75px;
        width: 75px;
    }

    .loginInput {
        width: 80%;
    }

    .projectBox {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 900px) {

}
